@font-face {
    font-family: playFairDisplay;
    src: url(../fonts/PlayfairDisplay-Bold.ttf);
}

.header_content {
    position: relative;
}

.navbar {
    position: absolute;
    margin: 0 auto;
    margin-bottom: 0px;
    color: white;
}

a {
    color: white;
}

#header_title {
    color: white;
    font-family: playFairDisplay;
    font-size: 92pt;
    letter-spacing: 10px;
    position: absolute;
    top: 30%;
    left: 26%;
}

#header-subtitle {
    color: white;
    position: absolute;
    font-size: 2.5em;
    top: 55.5%;
    left: 32%;
    letter-spacing: 2.5px;
}

#header-subtitle-2 {
    color: white;
    position: absolute;
    top: 59%;
    left: 41%;
    font-size: 2.5em;
    letter-spacing: 2.5px;
}

#dashed-line {
    position: absolute;
    top: 51%;
    left: 46%;
}

#medalla {
    position: relative;
}

#img-bottom-header {
    position: absolute;
    top: 96%;
    left: 50%;
    z-index: 1
}

#border-bottom-header {
    position: absolute;
    top: 97.1%;
    left: 50.65%;
    z-index: 0
}

#img-left-content {
    position: absolute;
    left: 34%;
    margin-top: 7%;
}

#img-right-content {
    display: block;
    margin: 7% auto;
}


/***********************************/

.center-text {
    text-align: center;
}

#text-left {
    margin-top: 3.5%;
}

#lorem {
    margin: 0 auto;
    max-width: 50%;
}


#avatar {
    display: block;
    margin: 0 auto;
}


/***********************************/

@media all and (max-width: 1440px) {
    #header_title {
        font-size: 5em;
    }
    #header-subtitle,
    #header-subtitle-2 {
        font-size: 1.5em;
    }
}

@media all and (max-width: 1000px) {
    #header_title {
        font-size: 1.2em;
    }
}

@media all and (max-width: 480px) {
    #header_title {
        font-size: 0.8em;
    }
}
