@font-face {
    font-family: playFairDisplay;
    src: url(../fonts/PlayfairDisplay-Bold.ttf);
}

header {
    position: relative;
}



.navbar {
    position: absolute;
    margin: 0 auto;
    margin-bottom: 0px;
    color: white;
}

a {
    color: white;
}

#header_title {
    color: white;
    font-family: playFairDisplay;
    font-size: 92pt;
    letter-spacing: 10px;
    position: absolute;
    top: 30%;
    left: 25%;
}

#header-subtitle {
    color: white;
    position: absolute;
    font-size: 2em;
    top: 55.5%;
    left: 36%;
}

#header-subtitle-2 {
    color: white;
    position: absolute;
    top: 60%;
    left: 42%;
    font-size: 2em;
}

#dashed-line {
    position: absolute;
    top: 55%;
    left: 44%%;
}

@media all and (max-width: 1200px) {
    header_title {
        font-size: 1.5em;
    }
}

@media all and (max-width: 1000px) {
    header_title {
        font-size: 1.2em;
    }
}

@media all and (max-width: 480px) {
    header_title {
        font-size: 0.8em;
    }
}
